.legend-li {
  display: inline-block;
  list-style: none;
  padding: 0px 28px 0px 0px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.1em;
  letter-spacing: -0.2px;
  font-weight: 400;
}

.legend {
  margin: 0px 5px 0px 0px;
  height: 27px;
  width: 27px;
  display: inline-block;
  position: relative;
  top: 0.4em;
}

.legend-icon {
  margin: 0px 5px 0px 0px;
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgb(251, 9, 9, 0.829);
  background-color: rgba(251, 9, 9, 0.829);
}

.legend-reset {
  position: relative;
  width: 29px;
  height: 18px;
  fill: white;
  left: -3px;
  bottom: -1px;
  z-index: 999;
}

.legend-item {
  border: 1px solid white;
  background-color: rgb(175, 216, 248);
}

.legend-start {
  border: 1px solid white;
  background-color: rgb(126, 63, 189);
}

.legend-stop {
  border: 1px solid white;
  background-color: rgba(223, 65, 65, 0.78);
}

.legend-wall {
  border: 1px solid white;
  background-color: rgba(16, 21, 95, 0.781);
}

.legend-visited {
  border: 1px solid white;
  background-color: rgba(0, 190, 218, 0.75);
  opacity: 0.73;
}

.legend-shortestpath {
  border: 1px solid white;
  background-color: rgb(252, 214, 20);
}
