.node-container {
  display: inline-grid;
  margin: 0 0 0 0;
  border: 1px solid rgba(128, 128, 128, 0.356);
  grid-gap: 0px;
  grid-template-columns: repeat(50, 27px);
  grid-template-rows: repeat(20, 27px);
}

.node-item {
  border: 1px solid white;
  background-color: rgb(175, 216, 248);
}

.node-start {
  /* border: 1px solid white;
  background-color: rgb(126, 63, 189); */
  animation-name: setStart;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-stop {
  /* border: 1px solid white;
  background-color: rgba(223, 65, 65, 0.78); */
  animation-name: setStop;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-wall {
  /* border: 0;
  background-color: rgba(14, 19, 88, 0.781); */
  animation-name: setWall;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.node-visited {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: visitingNode;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes visitingNode {
  0% {
    transform: scale(0.3);
    /* background-color: blueviolet; */
    background-color: rgba(0, 0, 66, 0.75);
    opacity: 1;
    border-radius: 100%;
  }
  50% {
    /* background-color: rgba(65, 75, 223, 0.863); */
    background-color: rgba(17, 104, 217, 0.75);
    opacity: 0.8;
  }
  75% {
    transform: scale(1.2);
    /* background-color: slateblue; */
    background-color: rgba(0, 217, 159, 0.75);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    border: 1px solid white;
    /* background-color: rgba(55, 201, 169); */
    background-color: rgba(0, 190, 218, 0.75);
    /* background-color: deeppink; */
    opacity: 0.73;
  }
}

.node-shortestpath {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: visualizingPath;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes visualizingPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(252, 170, 20);
  }
  50% {
    background-color: rgb(252, 170, 20);
  }
  75% {
    transform: scale(1.2);
    background-color: rgb(252, 170, 20);
  }
  100% {
    transform: scale(1);
    border: 1px solid white;
    background-color: rgb(252, 214, 20);
  }
}

@keyframes setWall {
  0% {
    transform: scale(0.98);
    background-color: rgba(16, 21, 95, 0.781);
  }
  50% {
    transform: scale(1.2);
    background-color: rgba(16, 21, 95, 0.781);
  }
  60% {
    transform: scale(1.4);
    background-color: rgba(16, 21, 95, 0.781);
  }
  100% {
    transform: scale(1);
    border: 0;
    background-color: rgba(16, 21, 95, 0.781);
  }
}

@keyframes setStart {
  0% {
    transform: scale(1);
    background-color: rgb(126, 63, 189);
  }
  50% {
    background-color: rgb(126, 63, 189);
  }
  75% {
    transform: scale(1.1);
    background-color: rgb(126, 63, 189);
  }
  100% {
    transform: scale(1);
    border: 1px solid white;
    background-color: rgb(126, 63, 189);
  }
}

@keyframes setStop {
  0% {
    transform: scale(0.95);
    background-color: rgba(223, 65, 65, 0.78);
  }
  50% {
    background-color: rgba(223, 65, 65, 0.78);
  }
  75% {
    transform: scale(1.1);
    background-color: rgba(223, 65, 65, 0.78);
  }
  100% {
    transform: scale(1);
    border: 1px solid white;
    background-color: rgba(223, 65, 65, 0.78);
  }
}
